{% extends 'ppe/base.html' %}

{% block titre %}
Etape 3 : type de dossier
{% endblock titre %}

{% block content %}

  <h3>Etape 3 : type de dossier</h3>
  {% if dossier_ppe %}
    <p class="fs-5">PPE sur le bien-fonds <b>{{ dossier_ppe.nummai }}</b> du cadastre 
      de <b>{{ dossier_ppe.cadastre }}</b>
    </p>

      <form id="type_form" name="type_form" class="form-horizontal" method="post">
        {% csrf_token %}
        <section name="ppe_type" id="ppe_type">
          <div class="row">
            <div class="col-lg-6">
              <label for="type_dossier">Type de dossier<sup>*</sup>:
                <i class="bi bi-info-circle-fill" style="color: cornflowerblue;"></i>
                <div id="info_type_dossier">
                  <b>Constitution</b> : création d'une nouvelle PPE dans un bâtiment existant ou futur.<br>
                  <b>Révision</b> : révision d'une PPE déjà inscrite au registre foncier.<br>
                  <b>Modification</b> : modification du dossier PPE avant son inscription au registre foncier (constitution ou révision).        
                  <br><br>
                  Si votre projet prévoit de radier la PPE actuellement inscrite au RF pour la refaire à neuf, 
                  sélectionnez l'option «Constitution».
                </div>
              </label>
              <select class="form-select" name="type_dossier" id="type_dossier" onchange="changeSectionDisplay()">
                <option value="" {% if mode != 'edit' or dossier_ppe.type_dossier == 'I'%}selected{% endif %}>Choisir...</option>
                <option value="C" {% if mode and dossier_ppe.type_dossier == 'C' %}selected{% endif %}>Constitution</option>
                <option value="R" {% if mode and dossier_ppe.type_dossier == 'R' %}selected{% endif %}>Révision</option>
                <option value="M" {% if mode and dossier_ppe.type_dossier == 'M' %}selected{% endif %}>Modification</option>
              </select>
              <br>
            </div>
          </div>
        </section>

        <section name="modification" id="modification" {% if dossier_ppe.type_dossier != 'M' %}style="display:none;"{% endif %}>
          <div id="type_modification" class="row">
            <div class="col-lg-6">
              <label for="initial_code">Code du dossier d'origine*
                <i class="bi bi-info-circle-fill" style="color: cornflowerblue;"></i>
                <div id="info_dossier_origin">
                  Il s'agit du code unique associé au dossier de constitution ou de révision d'origine
                </div>
              </label>
              <input class="form-control" type="text" name="initial_code" id="initial_code" oninput="showValidateButton()"><br>
              <input type="submit" id="validate_btn" value="Valider" class="valider btn btn-success" style="display: none;">
            </div>
            <div class="col-lg-6">
              <p class="alert alert-danger">Le dossier papier initial envoyé au notaire doit être retourné à notre service dans les plus brefs délais.</p>
            </div>
          </div>
        </section>

        <section name="revison" id="revision" {% if dossier_ppe.type_dossier != 'R' %}style="display:none"{% endif %}>
          <div id="type_revision" class="row">
            <div class="col-lg-6 col-6">
            <p class="alert alert-success">La révision concerne uniquement des droits de jouissance.</p>
            <p class="alert alert-danger" id="droits_remark" name="droits_remark" style="display: none;">
              Le contrôle du dossier par le SGRF n'est pas nécessaire.
            </p>
            </div>
            <div class="col-lg-6 col-6">
            <input type="radio" name="droits_jouissance" id="jouissance_oui" value="oui" {% if mode == 'edit' and dossier_ppe.revision_jouissances == 'oui' %}checked{% endif %} onchange="showJouissanceRemark()">
            <label for="jouissance_oui">Oui</label>
            <input type="radio" name="droits_jouissance" id="jouissance_non" value="non" {% if mode == 'edit' and dossier_ppe.revision_jouissances == 'non' %}checked{% endif %} onchange="showJouissanceRemark()">
            <label for="jouissance_non">Non</label>
            </div>
          </div>
          <div class="row" id="situation_cadastrale"
            {% if mode == 'edit' and dossier_ppe.type_dossier == 'R' and dossier_ppe.revision_jouissances == 'non' %}style="display:inline;"{% else %}
            style="display:none;"{% endif %}>
            <div class="col-lg-6 col-6">
              <p class="alert alert-success">
                La situation cadastrale figurant actuellement sur le plan du registre foncier, hormis d'éventuelles servitudes, 
                reste identique (pas d'ajout/suppression de bâtiment, souterrain, couvert, mur, escalier, etc.) 
              </p>
            </div>
            <div class="col-lg-6 col-6">
              <input type="radio" name="elements_rf" id="rf_identique_oui" value="oui" 
                {% if mode == 'edit' and dossier_ppe.elements_rf_identiques == 'oui' %}checked{% endif %} onchange="showElementsRFQuestions()">
              <label for="rf_identique_oui">Oui</label>
              <input type="radio" name="elements_rf" id="rf_identique_non" value="non" 
                {% if mode == 'edit' and dossier_ppe.elements_rf_identiques == 'non' %}checked{% endif %} onchange="showElementsRFQuestions()">
              <label for="rf_identique_non">Non</label>
            </div>
          </div>
          <div class="row" id="new_jouissance" {% if mode == 'edit' and dossier_ppe.type_dossier == 'R' and dossier_ppe.elements_rf_identiques == 'oui' %}style="display:block"
            {% else %}style="display:none"{% endif %}>
            <div class="col-lg-6 col-6">
            <p class="alert alert-danger">
              Il n'est pas nécessaire de fournir les couches/calques 104 à 106 (voir 
              <a href="https://www.ne.ch/autorites/DDTE/SGRF/mensuration/Documents/Annexe1_Preparation_fichiers_vectoriels_PROVISOIRE.pdf" target="_new">
                annexe 1</a>).
            </p>
            </div>
          </div>
          <br>
        </section>

        <section name="constitution" id="constitution" 
          {% if mode == 'edit' and dossier_ppe.type_dossier == 'C' %}style="display:block;"
          {% elif dossier_ppe.situation_plan_rf == 'non' %}style="display:block;"
          {% else %}style="display:none"{% endif %}>
          <div class="row" id="situation_plan">
            <div class="col-lg-6 col-6">
              <p class="alert alert-success">
                La situation cadastrale figurant actuellement sur le plan du registre foncier, hormis d'éventuelles servitudes, 
                reste identique (pas d'ajout/suppression de bâtiment, souterrain, couvert, mur, escalier, etc.) 
              </p>
            </div>
            <div class="col-lg-6 col-6">
              <input type="radio" name="situation_plan_rf" id="situation_plan_oui" value="oui" 
                {% if mode == 'edit' and dossier_ppe.elements_rf_identiques == 'oui' %}checked{% endif %} onchange="showLayersInfo()">
              <label for="rf_identique_oui">Oui</label>
              <input type="radio" name="situation_plan_rf" id="situation_plan_non" value="non" 
                {% if mode == 'edit' and dossier_ppe.elements_rf_identiques == 'non' %}checked{% endif %} onchange="showLayersInfo()">
              <label for="rf_identique_non">Non</label>
            </div>
          </div>
          <div class="row" id="layer_info" {% if mode == 'edit' and dossier_ppe.type_dossier == 'C' and dossier_ppe.elements_rf_identiques == 'oui' %}style="display:block"
            {% else %}style="display:none"{% endif %}>
            <div class="col-lg-6 col-6">
            <p class="alert alert-danger">
              Il n'est pas nécessaire de fournir les couches/calques 104 à 106 (voir 
              <a href="https://www.ne.ch/autorites/DDTE/SGRF/mensuration/Documents/Annexe1_Preparation_fichiers_vectoriels_PROVISOIRE.pdf" target="_new">
                annexe 1</a>).
            </p>
            </div>
          </div>
            <br>
        </section>

        <section id="ref_geoshop" {% if dossier_ppe.type_dossier == 'I' %}style="display:none"{% endif %}>
          <div class="row">
            <div class="col-lg-6">
                <label for="reference_geoshop">Référence geoshop*
                <i class="bi bi-info-circle-fill" style="color: cornflowerblue;"></i>
                <div id="info_reference_geoshop">
                  Référence de commande des données cadastrales<br>
                  Vous trouvez le lien vers notre Géoshop dans la<br>
                  navigation à gauche.
                </div>
                </label>
                <input class="form-control" type="text" name="ref_geoshop" id="reference_geoshop" oninput="showSubmitButton()" placeholder="20250101_12345" {% if dossier_ppe.ref_geoshop %}value={{ dossier_ppe.ref_geoshop }}{% endif %}>
                <br>
                <p class="alert alert-secondary">
                  Vous n'avez pas encore commandé les données cadastrales ? Vous pouvez les commander dans notre Géoshop
                  à l'adresse <a href="https://sitn.ne.ch/geoshop" target="_sitn">https://sitn.ne.ch/geoshop</a>
                </p>
            </div>
          </div>

        </section>
      
        {% if error_message %}<p id="form_error" class="alert alert-danger col-lg-6"><strong>{{ error_message }}</strong></p>
        {% endif %}
        {% if mode == 'edit' and dossier_ppe.type_dossier != 'M' %}
        <input id="submit_btn" type="submit" value="Modifier" class="valider btn btn-success" {% if dossier_ppe.revision_jouissances == 'oui' or dossier_ppe.type_dossier == 'I' %}style="display:none;"{% endif %}>
        {% else %}
        <input id="submit_btn" type="submit" value="Valider" class="valider btn btn-success" style="display:none;">
        {% endif %}
        <p class="red"><br><sup>*</sup>Les champs marqués d'un astérisque sont obligatoires</p>

      </form>

  {% else %}
  <h5>Une erreur est survenue.</h5>

  {% endif %}

{% endblock content %}