{% extends 'ppe/base.html' %}

{% block titre %}
Dépôt d'un dossier:
{% endblock titre %}

{% block content %}

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>

        {% elif dossier_ppe %}
        <h3>Etape 2: contacts</h3>
        <p class="fs-5"><br>PPE sur le bien-fonds <b>{{ nummai }}</b> du cadastre 
            de <b>{{ cadastre }}</b></p>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="modification" value="update">
            <div class="row">
                <div class="col">
                    <fieldset class="form-group">
                        <legend>Personne de contact
                        <i class="bi bi-info-circle-fill fs-5" style="color: cornflowerblue;"></i>
                        <div id="info_contact">La personne de contact est celle qui soumet le<br>
                            dossier et recevra les résultats du contrôle.
                        </div>
                        </legend>
                        {{ contact_form.as_div }}
                    </fieldset>
                </div>
                <div class="col">
                    <fieldset>
                        <legend>Signataire
                        <i class="bi bi-info-circle-fill fs-5" style="color: cornflowerblue;"></i>
                        <div id="info_signataire">
                            La personne signataire du dossier est obligatoirement <br>
                            un·e architecte inscrit·e au registre neuchâtelois des architectes, <br>
                            un·e ingénieur-géomètre breveté·e inscrite au registre fédéral <br>
                            des ingénieurs-géomètres ou un·e ingénieur·e en géomatique Reg A <br>
                            (voir art. 19 RRF).
                        </div>
                        </legend>
                        {{ signataire_form.as_div }}
                    </fieldset>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                <fieldset>
                    <legend>Adresse de facturation</legend>
                    <p class="alert alert-secondary">Si plusieurs factures doivent être établies, saisissez l'une des adresses dans le formulaire ci-dessous 
                    puis écrivez-nous à l'adresse <a href="mailto:sgrf.ppe@ne.ch">sgrf.ppe@ne.ch</a> en indiquant les différentes adresses ainsi que les 
                    différents accords de paiement</p>
                    {% for field in facturation_form %}
                        {% if field.errors %}
                        <div class="alert alert-danger">{{ field.errors }}</div>
                        {% endif %}
                        {% if "Accord" in field.label_tag %}
                        <div>{{ field.label_tag }}
                            <i class="bi bi-info-circle-fill fs-6" style="color: cornflowerblue;"></i>
                            <div id="info_accord">
                                Les frais du Service de la géomatique et du registre foncier <br>
                                comprennent le contrôle de conformité du dossier aux directives <br>
                                cantonales en vigueur ainsi que l'attribution des numéros de <br>
                                bien-fonds aux unités juridiques
                            </div>
                        </div>
                        <div>{{ field }}</div>
                        {% if dossier_ppe.adresse_facturation.filename %}
                            <div class="alert alert-success"><b>Actuellement :</b> {{ dossier_ppe.adresse_facturation.filename }}</div>
                            <div class="alert alert-danger"><b>Toute modification de l'adresse de facturation doit être accompagné d'un nouveau accord de prise en charge!</b></div>
                        {% endif %}
                        {% else %}
                        <div>{{ field.label_tag }}</div>
                        <div>{{ field }}</div>
                        {% endif %}
                    {% endfor %}
                    <a href="https://www.ne.ch/sites/default/files/2026-05/ppe_modele_accord_frais.docx" target="blank">
                        Lien vers un modèle (docx)</a>
                </fieldset>
                </div>
                <div class="col">
                    <fieldset>
                        <legend>Notaire</legend>
                        {% for field in notaire_form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                            {% if field.help_text %}
                            <p class="help" id="{{ field.auto_id }}_helptext">
                                {{ field.help_text|safe }}
                            </p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    <p><br><br><br><br></p>
                    <input type="submit" value="Valider" class="valider btn btn-success">
                    </fieldset>
                    <p><br><br></p>
                </div>
        </form>

    
    {% else %}
        <form class="form-horizontal">
        <label for "login_code">Veuillez indiquer le no. de dossier PPE</label>
        <input type="text" name="login_code" id ="login_code">
        <input type="submit" value="Chercher le dossier" class="btn btn-success">
    </form>
    {% endif %}

{% endblock content %}