{% load static %}
{% load allauth socialaccount %}
<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
  <link href="https://sitn.ne.ch/sitnstatic/sitn-bootstrap@v5.2.3/sitn-bootstrap.css" rel="stylesheet" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
  <link href="{% static 'parcel_historisation/parcel_historisation.css' %}" rel="stylesheet">
  <title>Historisation des biens-fonds</title>
</head>

<body>
  <div class="row header-row">
    <div class="col-2">
      <img
           src="{% static 'images/logo_ne.png' %}"
           alt="NE logo"
           align="top"
           class="img-fluid" />
    </div>
    <div class="col-10">
      <div class="pull-left">
        <h2>Historisation des biens-fonds</h2>
      </div>
    </div>
  </div>
  {% if not request.user.is_authenticated %}
  <div class="container mt-5 text-center">
    <p>Veuillez vous connecter pour accéder à l'application.</p>
    <form action="{% provider_login_url 'dotnetid' process='login' next=request.path %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Me connecter</button>
    </form>
  </div>
  {% else %}
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-saisie-tab" data-bs-toggle="tab" data-bs-target="#nav-saisie" type="button" role="tab" aria-controls="nav-saisie" aria-selected="true">Saisie</button>
      <button class="nav-link disabled" id="nav-listing-tab" data-bs-toggle="tab" data-bs-target="#nav-listing" type="button" role="tab" aria-controls="nav-listing" aria-selected="false">Liste des plans / désignations</button>
      <button class="nav-link disabled" id="nav-control-tab" data-bs-toggle="tab" data-bs-target="#nav-control" type="button" role="tab" aria-controls="nav-control" aria-selected="false">Contrôle</button>
    </div>
  </nav>
  <main class="container">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-saisie" role="tabpanel" aria-labelledby="nav-saisie-tab">
        <div id="cadastre_selector">
          <div class="row mt-3 g-0">
            <label for="cadastre_list">Choix du cadastre :</label>
            <select id="cadastre_list" class="form-select mt-1" aria-label="Default select example"></select>
          </div>
          <button id="choose_cadastre" type="button" class="btn btn-primary mt-3">OK</button>
        </div>
        <div id="step1">
          <div class="row mt-3 g-0">
            <div class="col">
              <h3>Saisie</h3>
            </div>
            <div class="col pull-right"><a id="close-saisie" class="link-dark">X - Quitter la saisie pour ce cadastre</a></div>
          </div>
          <div class="row mt-3 g-0">
            <p>Cadastre: <span class="cadastre_text"></span></p>
          </div>

          <div class="row mt-3 g-0">
            <div class="col-2 ">
              <input class="form-check-input" type="checkbox" name="input-continuation" id="input-continuation-checkbox" onchange="document.getElementById('operation-continue-section').hidden=!this.checked">
              <label class="form-check-label" id="input-continuation-label" for="input-continuation-checkbox">
                Poursuivre une saisie
              </label>
            </div>

            <div class="col-8" id="operation-continue-section" hidden>
              <div class="row mt-0 g-0">
                <div class="col">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Numéro de plan : </span>
                    </div>
                    <input id="plan-link-continue" type="text" list="plan-link-continue-results" pattern="[0-9]{3,}_[0-9]{1,2}_[0-9]{3,4}" class="form-control" aria-describedby="basic-addon1" placeholder="00000_0_0000"></input>
                    <datalist id="plan-link-continue-results" style="width: 100%;"></datalist>
                  </div>
                </div>
                <div class="col d-flex align-items-end" style="padding-left: 20px;">
                  <button id="load-operation" type="button" class="btn btn-primary">Charger</button>
                </div>
              </div>
            </div>
          </div>


          <div class="row mt-3 g-0">
            <div class="col">
              <label for="desgn_list">Liste des désignations :</label>
              <select id="desgn_list" class="form-select mt-1" aria-label="Default select example"></select>
            </div>
            <div class="col d-flex align-items-end" style="padding-left: 20px;">
              <button id="load-desgn" type="button" class="btn btn-primary">Télécharger</button>
            </div>
          </div>
          <div class="row mt-3 g-0">
            <div class="col">
              <label for="plan_list">Liste des plans :</label>
              <select id="plan_list" class="form-select mt-1" aria-label="Default select example"></select>
            </div>
            <div class="col d-flex align-items-end" style="padding-left: 20px;">
              <button id="load-plan" type="button" class="btn btn-primary">Télécharger</button>
            </div>
          </div>
          <div class="row mt-3 g-0">
            <p>Type d'affaire :</p>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="div_check">
              <label class="form-check-label" for="div_check">
                Division / réunion
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="cad_check">
              <label class="form-check-label" for="cad_check">
                Cadastration, nature, etc.
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="serv_check">
              <label class="form-check-label" for="serv_check">
                Servitude
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="art35_check">
              <label class="form-check-label" for="art35_check">
                art. 35
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="other_check">
              <label class="form-check-label" for="other_check">
                Autre
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="delayed_check">
              <label class="form-check-label" for="delayed_check">
                Retardé
              </label>
            </div>
            <div class="form-check">
              <label for="complement" class="form-label">Complément :</label>
              <textarea class="form-control" id="complement" rows="3"></textarea>
            </div>
          </div>
          <button id="submit-form" type="button" class="btn btn-primary mt-3">OK</button>
        </div>

        <!-- division -->
        <div id="step2">
          <div class="row mt-3 g-0">
            <div class="col">
              <h3>Saisie de la balance</h3>
            </div>
            <div class="col pull-right"><a id="close-saisie-2" class="link-dark">X</a></div>
          </div>
          <h3 id="operation_id_title_section" class="mt-5 mb-5">Opération: <span style="font-weight: bold;" id="operation_id_title"></span></h3>
          <div class="row mt-3 g-0">
            <p>Cadastre: <span class="cadastre_text"></span></p>
          </div>
          <div class="row mt-3 g-0">
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">N° Infolica : </span>
                </div>
                <input id="no_infolica" type="text" class="form-control" aria-label="no_infolica" aria-describedby="basic-addon1" placeholder="1234 ou B1234 ou B_1234_0" onkeypress="handleEnterAsClick(event, 'load-infolica')">
              </div>
            </div>
            <div class="col" style="padding-left: 20px;">
              <button id="load-infolica" type="button" class="btn btn-primary">OK</button>
            </div>
          </div>
          <div id="load-infolica-status"></div>

          <!-- HANDLE BALANCE HERE -->
          <div id="balance-add-bf-section" style="border: 1px solid; border-radius: 5px;" class="row mt-5 mb-2 g-2 p-3">
            <h5>Ajouter des biens-fonds</h5>

            <div class="row mt-3 mb-3 g-0">
              <div class="col-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Cadastre : </span>
                  </div>
                  <div class="input-group-prepend" style="padding-left: 15px;">
                    <select id="cadastre-list-balance" class="form-select" aria-label="Default select example"></select>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" style="background-color: lightskyblue;" id="headingBalance">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBalance" aria-expanded="true" aria-controls="collapseBalance">
                    <strong>Balance</strong>
                  </button>
                </h2>
                <div id="collapseBalance" class="accordion-collapse collapse" aria-labelledby="headingBalance" data-bs-parent="#accordionExample">
                  <div class="accordion-body">

                    <div class="row mt-3 mb-3 g-0" style="margin-bottom: 0px;">
                      <div class="col">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Anciens biens-fonds : </span>
                          </div>
                          <input id="balance-old-bf" type="number" min="1" step="1" class="form-control" aria-label="old_bf" aria-describedby="basic-addon1" placeholder=""></input>
                        </div>
                      </div>

                      <div class="col">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Série : </span>
                          </div>
                          <input id="balance-old-bf-serie" type="number" min="1" step="1" value="1" class="form-control" aria-label="old_bf_serie" aria-describedby="basic-addon1" placeholder=""></input>
                        </div>
                      </div>

                      <div class="col">
                        <button id="balance-add-old-bf" type="button" style="margin-right: 2em;" class="btn btn-primary">OK</button>
                        /
                        <button id="balance-add-old-dp" type="button" style="margin-left: 2em;" class="btn btn-primary">dp</button>
                      </div>
                    </div>

                    <div class="row mt-3 mb-3 g-0" style="margin-bottom: 0px;">
                      <div class="col">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Nouveaux biens-fonds : </span>
                          </div>
                          <input id="balance-new-bf" type="number" min="1" step="1" class="form-control" aria-label="new_bf" aria-describedby="basic-addon1" placeholder=""></input>
                        </div>
                      </div>

                      <div class="col">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Série : </span>
                          </div>
                          <input id="balance-new-bf-serie" type="number" min="1" step="1" value="1" class="form-control" aria-label="new_bf_serie" aria-describedby="basic-addon1" placeholder=""></input>
                        </div>
                      </div>

                      <div class="col">
                        <button id="balance-add-new-bf" type="button" style="margin-right: 2em;" class="btn btn-primary">OK</button>
                        /
                        <button id="balance-add-new-dp" type="button" style="margin-left: 2em;" class="btn btn-primary">dp</button>
                      </div>
                    </div>

                    <hr>

                    <div class="row mt-4 g-0">
                      <div class="col">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <label for="input-balance-from-file">À partir d'un fichier ?</label>
                            <input type="file"
                                   id="input-balance-from-file"
                                   accept=".xls,.xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                          </div>

                          <div class="col" style="padding-left: 20px;">
                            <button id="submit-balance-file" class="btn btn-primary">Charger</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingDDP">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDDP" aria-expanded="true" aria-controls="collapseDDP">
                    <strong>Droit distinct et permanent</strong>
                  </button>
                </h2>
                <div id="collapseDDP" class="accordion-collapse collapse" aria-labelledby="headingDDP" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col">
                        <div class="input-group mb-3">
                          <!-- DDP number -->
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">DDP : </span>
                          </div>
                          <input id="ddp-number" type="number" min="0" step="1" class="form-control" placeholder="Numéro de DDP">
                          <!-- Base parcel -->
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Bf de base : </span>
                          </div>
                          <input id="ddp-base-number" type="number" min="0" step="1" class="form-control" placeholder="Bien-fonds de base">
                        </div>
                      </div>
                      <div class="col pl-2">
                        <button id="create-ddp" class="btn btn-primary">Ajouter</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Balance table -->
          <div id="ddp-section-container" class="mt-4" hidden>
            <h3>Droits distincts et permanents (DDP)</h3>
            <div id="ddp-section"></div>
          </div>
          <!-- Balance table -->
          <div id="tableau-balance-container" class="mt-4" hidden>
            <h3>Balance</h3>
            <div id="tableau-balance"></div>
          </div>
          <button id="submit-relations" type="button" class="btn btn-primary mt-3">Enregistrer</button>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-listing" role="tabpanel" aria-labelledby="nav-listing-tab">
        <div class="row mt-3 g-0">
          <div class="col">
            <h3>Liste des plans et désignations</h3>
          </div>
        </div>
        <div class="row mt-3 g-0">
          <p>Cadastre: <span class="cadastre_text"></span></p>
        </div>
        <div class="row mt-3 g-0">
          <div id="plan-list-table" class="table table-striped" style="width:100%"></div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-control" role="tabpanel" aria-labelledby="nav-control-tab">
        <div class="row mt-3 g-0">
          <div class="col">
            <h3>Contrôle par cadastre</h3>
          </div>
        </div>
        <div class="row mt-3 g-0">
          <p>Cadastre: <span class="cadastre_text"></span></p>
        </div>
        <div class="row mt-3 g-0">
          <div class="col d-flex align-items-end" style="padding-left: 20px;">
            <button id="run-control" type="button" class="btn btn-primary">Démarrer le processus de contrôle</button>
          </div>
        </div>
        <div class="row mt-3 g-0 d-none" id="source-div">
          <div class="col">
            <h4>Bien-fonds qui n'ont pas de parents</h4>
            <div class="col d-flex gap-2 align-items-end" style="padding-left: 20px;padding-bottom: 20px;">
              <button id="src-bt1" type="button" class="btn btn-secondary" onclick="ph.parcelState('origin')">BF(s) originel(s)</button>
              <button id="src_bt3" type="button" class="btn btn-secondary" onclick="ph.parcelState('rp_out')">Sorti(s) RP</button>
            </div>
            <table id="source_table" width="80%">
              <thead>
                <tr>
                  <th>N° de bien-fonds</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <div class="col">
            <h4>Bien-fonds qui n'ont pas d'enfants</h4>
            <div class="col d-flex gap-2 align-items-end" style="padding-left: 20px;padding-bottom: 20px;">
              <button id="src-bt2" type="button" class="btn btn-secondary" onclick="ph.parcelState('rp_in')">Entré(s) RP</button>
              <button id="src_bt3" type="button" class="btn btn-secondary" onclick="ph.parcelState('final')">Final-aux</button>
            </div>
            <table id="destination_table" width="80%">
              <thead>
                <tr>
                  <th>N° de bien-fonds</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="successToast" class="toast hide text-bg-success" role="alert" aria-live="assertive" aria-atomic="true">
          <div id="successToastTitle" class="toast-header">
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Fermer"></button>
          </div>
          <div id="successToastBody" class="toast-body"></div>
        </div>
      </div>
      <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="errorToast" class="toast hide text-bg-error" role="alert" aria-live="assertive" aria-atomic="true">
          <div id="errorToastTitle" class="toast-header">
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Fermer"></button>
          </div>
          <div id="errorToastBody" class="toast-body"></div>
        </div>
      </div>
    </div>
  </main>
  <div id="overlay">
    <div id="spinner" class="text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Chargement...</span>
      </div>
    </div>
  </div>
  <div class="modal fade" id="operationDetail" tabindex="-1" aria-labelledby="operationDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="operationDetailTitle"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="operationDetailBody" class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'parcel_historisation/parcel_historisation.js' %}"></script>
  {% csrf_token %}
  <script>
    document.onreadystatechange = () => {
      if (document.readyState === "interactive") {
        ph.infolica_api_url = "{{ infolica_api_url }}";
        ph.initApplication();
      }
    };
  </script>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icon-check" viewBox="0 0 448 512" width="18" height="18" style="fill:green;"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
      <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
    </symbol>
    <symbol id="icon-cross" viewBox="0 0 384 512" width="18" height="18" style="fill:red;"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
      <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
    </symbol>
  </svg>
  {% endif %}
</body>

</html>